@import 'font.css';

ul, li{
    display: flex;
    padding: 0;
    margin:0;
}
body{
    font-family:"Open Sans Light";

}
.menu-bar{
    color:#212121; 
    padding: 20px 0;
    background: white;
}
.menu__item a{
    float:left;
    font-size:"20";
    color:#212121;
    margin-left:37px;
}
.menu__item a:hover {
	text-decoration: none;
	color:#868686;
}
.header {
    color:yellow;
    text-align: center;
    padding: 180px 0;
    background-size:cover;

    background-image:url(../img/NikePhoto.png);
}
.header__title{
     font-size:55px;
}
.header__text{
    color:#E9E9E9;
    font-family:"Open Sans bold";
    margin-bottom: 50px;
}
.header__title{
    font-family:"Open Sans bold";
    color:#FFFFFF;
}
.button{
    cursor:pointer;
    color:white;
    padding: 10px 25px;
    margin: 0 10px;
    transition:0.3s;
}
.button_empty{
    background: transparent;
    border: 2px solid white;
}
.button_full{
    background: #B76B08;
    border:2px solid white ;
}
.button_empty:hover,
.button_full:hover{
    border:2px dotted white ;
     background: #a1600b;
}
/*О нас*/ 
.About{
    padding-top: 55px;
    padding-bottom: 55px;
    color:black;
    background: white;
    text-align: center; 
}
.about__title{
    font-family:"Open Sans bold";
    font-size:42px;
    font-weight: bold;

}
.about__text{
    color:#404040;
    font-size:20px;
    font-family:"Open Sans Regular";
    margin-bottom:110px;
}
.text__about{
     font-family:"Open Sans Regular";
}
.about_h3{
    margin-top:15px;
    font-family:"Open Sans bold";
    font-size:25px;
    font-weight: bold;
}
/*Категории обуви*/
.portfolio{
    text-align: center;
    padding-top:120px;
    padding-bottom:135px;
    background: #d59312;

}
.portfolio button:hover{
    color:black;
    border:2px dotted black;
    background: transparent;

}
.portfolio img{
    margin-top:50px;
}
.filter {
    padding-top: 120px 0;
    padding-bottom: 120px ;
}
.left>div:first-child{
    order:1;
}
.left>div:last-child{
    order:2;
}
.right>div:first-child{
    order:2;
}
.right>div:last-child{
    order:1;
}
.blog